<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meetrip - Des voyageurs proches de vous</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <div class="background">
    <div class="container">
        <div class="flex row header">
            <div class="col-lg-10">
              <%= image_tag "meetrip.png", width: '170' %>
            </div>
            <div class="col-lg-2">
              <%= image_tag "facebook.png", width: '39' %>
              <%= image_tag "twitter.png", width: '39' %>
            </div>
        </div>

        <div class="row flex">
          <div class="baseline col-lg-7">
              <p class="banner-title">Des voyageurs proches de vous</p>
              <p class="banner-description">Avec Meetrip, rencontrez des gens localement avec qui vous partagez les mêmes centres d'intérêts. Que vous soyez seul, avec des amis ou en couple.</p>
              <button class="btn-main" type="button">Get an early invitation</button>
          </div>
          <div class="phone col-lg-5">
            <%= image_tag "phone-banner.png", width: '420' %>
          </div>
        </div>
    </div>

    <div class="container ">
      <div class="row bloc-align">
        <p class="banner-title">Marre de ces moments de solitude ou rencontres éphémères ?</p>
        <p class="banner-title">Faites de vraies rencontres en voyage !</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="baseline col-lg-7">
              <p class="banner-title">En voyage seul, en couple ou entre amis</p>
              <p class="banner-description">Que tu sois digital nomade, expatrié, local, backpacker... , rencontrez des personnes passionnantes et proches de vous. Vous voyagez en couple ou entre amis ? Vous pouvez créer un seul compte afin d’échanger avec l’ensemble des voyageurs.</p>
          </div>
          <div class="phone col-lg-5">
            <%= image_tag "cards.png", width: '520' %>
          </div>
      </div>
    </div>

        <div class="container">
      <div class="row">
          <div class="phone col-lg-5">
            <%= image_tag "centres-interets.png", width: '520' %>
          </div>
          <div class="baseline col-lg-7">
              <p class="banner-title">Des centres d’intérêts similaires</p>
              <p class="banner-description">Meetrip vous propose de définir ce que vous aimez en quelques mots clés. En plus de parler de vos voyages effectués ou prévus, vous échangez avec les personnes ayant les mêmes centres d’interêts que vous.</p>
              <button class="btn-main" type="button">Get an early invitation</button>
          </div>
      </div>
    </div>

        <div class="container">
      <div class="row">
          <div class="baseline col-lg-7">
              <p class="banner-title">Des rencontres en roadtrip</p>
              <p class="banner-description">En précisant votre prochaine destination, faites un bout de chemin avec de nombreux autres voyageurs ayant le même itinéraire que vous.</p>
          </div>
          <div class="phone col-lg-5">
            <%= image_tag "roadtrip.png", width: '520' %>
          </div>
      </div>
    </div>
  </div>
</body>
