<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meetrip - Des voyageurs proches de vous</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="background">
    <div class="container space">
        <div class="flex row header">
            <div class="col-lg-10">
              <%= image_tag "meetrip.png", width: '170' %>
            </div>
            <div class="col-lg-2 header-social">
              <%= image_tag "facebook.png", width: '39' %>
              <%= image_tag "twitter.png", width: '39' %>
            </div>
        </div>

        <div class="row flex">
          <div class="baseline col-lg-7">
              <p class="banner-titleh1">Travellers<br> close to you</p>
              <p class="banner-description">With Meetrip, meet people locally with whom you share the same interests. Whether you are solo, with friends or as a couple, wonderful encounters take place in travel !</p>
            <div style="display: flex; margin-top: 50px;">
              <a class="typeform-share button" href="https://fabienriou92.typeform.com/to/SJlN37" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#FE346E;color:white;cursor:pointer;font-family:Montserrat,Arial,sans-serif;font-size:17px;line-height:42.5px;text-align:center;margin:0;height:42.5px;padding:10px 30px;box-shadow:0px 4px 10px rgba(0, 0, 0, 0.19);border-radius:7px;width:315px;height:65px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:medium;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-footer=true target="_blank">Get an early invitation </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
              <p class="join">Join the community for free</p>
            </div>
          </div>
          <div class="phone col-lg-5">
            <%= image_tag "phone-banner.png", width: '390' %>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="row space">
          <div class="baseline col-lg-6">
              <p class="banner-title">Solo traveller, as a couple or with friends</p>
              <p class="banner-description">Whether you are digital nomad, expat, local, badckpacker..., meet passionnate people close to you. You travel as a couple or with friends ? You will able to create one single account in order to converse with all travellers.</p>
          </div>
          <div class="phone col-lg-6">
            <%= image_tag "cards.png", width: '520' %>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="row space">
        <div class="phone col-lg-6">
            <%= image_tag "centres-interets.png", width: '520' %>
        </div>
        <div class="baseline col-lg-6">
              <p class="banner-title">Travellers with similar interests</p>
              <p class="banner-description">Meetrip suggest that define what you love in few keywords. In addition to talking about your last trips or those planned, you converse with people having the same interests than you.</p>
              <a class="typeform-share button" href="https://fabienriou92.typeform.com/to/SJlN37" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#FE346E;color:white;cursor:pointer;font-family:Montserrat,Arial,sans-serif;font-size:17px;line-height:42.5px;text-align:center;margin:0;height:42.5px;padding:10px 30px;box-shadow:0px 4px 10px rgba(0, 0, 0, 0.19);border-radius:7px;width:315px;height:65px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:medium;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-footer=true target="_blank">Get an early invitation </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row space">
        <div class="baseline col-lg-6">
            <p class="banner-title">Meeting people in roadtrip</p>
            <p class="banner-description">By adding your next destination, walk easily the path with a lot of others travellers having the same itinerary than you.</p>
        </div>
        <div class="phone col-lg-6">
          <%= image_tag "roadtrip.png", width: '720' %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row bloc-align space">
        <p class="medium-title">Join the community for free</p>
        <p class="light-title">Build easily strong and authentic relationships in travel</p>
      </div>
    </div>

    <div class="container">
      <div class="row space">
        <div class="image-adventure">
        <%= image_tag "aventure.png", width: '1170' %>
        <div class="card-adventure">
          <p class="banner-title.blue">Ready for the adventure ?</p>
          <a class="typeform-share button" href="https://fabienriou92.typeform.com/to/SJlN37" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#FE346E;color:white;cursor:pointer;font-family:Montserrat,Arial,sans-serif;font-size:17px;line-height:42.5px;text-align:center;margin:0;height:42.5px;padding:10px 30px;box-shadow:0px 4px 10px rgba(0, 0, 0, 0.19);border-radius:7px;width:315px;height:65px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:medium;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-footer=true target="_blank">Get an early invitation </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
      </div>
    </div>

     <div class="container">
      <div class="row space flex">
        <div>
          <p class="banner-title">Share the app</p>
        </div>
        <div>
          <%= image_tag "facebook.png", width: '50' %>
          <%= image_tag "twitter.png", width: '50' %>
        </div>
      </div>
    </div>
  </div>
</body>
